@using Ppt23.Client.ViewModels

<head>
    <meta charset="utf-8" />
</head>

<div class="h-full w-full">@Vyb.Name</div>
<div class="h-full w-full">@Vyb.BoughtDateTime.ToShortDateString() </div>
<div class="h-full w-full">@Vyb.LastRevisionDateTime.ToShortDateString()</div>
<div class="h-full w-full">@(Vyb.IsRevisionNeeded ? "Ano" : "Ne")</div>
<div>
    <button class="mx-2 my-1 rounded-md bg-red-400" @onclick="() => SmazVybaveni(Vyb)">Smazat</button>
    <button class="mx-2 my-1 rounded-md bg-teal-500" @onclick="() => Revize(Vyb)">Provést revizi</button>
</div>

@code {

    //[Parameter] public List<VybaveniVm> seznamvybaveni { get; set; }
    [Parameter] public VybaveniVm? Vyb { get; set; }
    [Parameter] public EventCallback<VybaveniVm> SmazEventCallBack { get; set; }
    [Parameter] public EventCallback<VybaveniVm> Zreviduj { get; set; }

    public async Task SmazVybaveni(VybaveniVm vybaveni)
    {
        await SmazEventCallBack.InvokeAsync(vybaveni);
    }

    public async Task Revize(VybaveniVm vybaveni)
    {
        vybaveni.LastRevisionDateTime = DateTime.Today;
        await Zreviduj.InvokeAsync(vybaveni);
    }
}

